<!DOCTYPE html>
<html>

  <head>
    <style>
    body{
      background-color: #639fff
    }
    </style>
    <link rel="stylesheet" href="styles/input_style.css">
    <script src="js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Coda+Caption:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
  </head>

  <body>
    <h1>Complete this form to generate a unique story!</h1>
    <p></p>
    <form method="POST">
      <section>
        <p>noun: <input value="ex: dog" name="noun1" /><br/></p>
        <p>verb: <input value="ex: run" name="verb1" /><br/></p>
        <p>noun(location): <input value="ex: city" name="noun2" /><br/></p>
        <p>adjective: <input value="ex: little" name="adj1" /><br/></p>
        <p>adjective: <input value="ex: cute" name="adj2" /><br/></p>
        <p>verb: <input value="ex: show" name="verb2" /><br/></p>
        <p>verb(past tense): <input value="ex: heard" name="verb3" /><br/></p>
        <p>verb(ing): <input value="ex: reading" name="verb4" /><br/></p>
        <p>noun: <input value="ex: cat" name="noun3" /><br/></p>
      </section>
      <img id="penguin-img" src="/images/penguin.png"/>
      <!-- TRYING TO GET AN IMAGE TO SHOW UP -->
      <p></p>
      <p></p>
    <button id="submit_But">Submit</button>
  </form>
  </body>

</html>


<!--
There once was a dog that loved to run around the city.
No one knew where it came from, but they all loved the little cute dog.
One day, the dog didn't show up. The townsfolk became worried and went to look for the dog.
They searched all day and night but failed to find the dog.
However, when they finally came back into town, there was the dog, sitting patiently waiting for food.

There once was a (noun1) that loved to (verb1) around the (noun2-location).
No one knew where it came from, but they all loved the (adj1) (adj2) (noun1).
One day, the (noun1) didn't (verb2) up. The (noun3) became worried and went to look for the (noun1).
They (verb3) all day and night but failed to find the (noun1).
However, when they finally came back into (noun2-location), there was the (noun1), (verb4) patiently waiting for (noun3).



-->
