<!DOCTYPE html>
<html>

  <head>
    <style>
    body{
      background-color: #639fff
    }
    </style>
    <link rel="stylesheet" href="styles/output_style.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Coda+Caption:800" rel="stylesheet">
    <script src="js/script.js"></script>
  </head>

  <body>
    {{again2}}
    <p></p>
    <h1>Your Original Story: The {{noun1}}</h1>
    <p>
      There once was a {{noun1}} that loved to {{verb1}} around the {{noun2}}.
      No one knew where it came from, but they all loved the {{adj1}} {{adj2}} {{noun1}}.
      One day, the {{noun1}} didn't {{verb2}} up. The {{noun3}} became worried and went to look for the {{noun1}}.
      They {{verb3}} all day and night but failed to find the {{noun1}}.
      However, when they finally came back into {{noun2}}, there was the {{noun1}}, {{verb4}} patiently waiting for {{noun3}}.
    </p>
    <img id="laughing-img" src="/images/laughing.png"/>
    <p></p>
  <!-- {{hr}} -->
    {{button}}
    <!-- <p></p> -->
    {{again}}
    <!-- <a href="https://mad-libs-210517.appspot.com/all"><button id="prev_But">View Previous</button></a>' -->
  </body>

</html>
