<!DOCTYPE html>
<html>

  <head>
    <title>User Info</title>
    <style>
    body{
      background-color: {{color}}
    }
    </style>
  </head>

  <body>
    <h1>User Info</h1>
    <p>Name: {{name}}</p>
    <p>Address: {{address}}</p>
    <p>Color: {{color}}</p>




    <!-- {% for info in info_messages %}
    <p>{{info}}</p>
    {% endfor %}

    {% if is_happy %}
    <p>Ask to clean room</p>
    {% else %}
    <p>Tread carefully ...</p>
    {% endif %}

    <ul>
      {% for info in flowers %}
      <p>
        <li>
          <a href="https://en.wikipedia.org/wiki/Narcissus_(plant)">{{info}}</a>
        </li>
      </p>
      {% endfor %} -->

      <!-- <li>
        <p>{{sport}}</p>
        <a href="https://en.wikipedia.org/wiki/Narcissus_(plant)">{{sport}}</a>
      </li>
      <li>
        <p>{{sport}}</p>
        <a href="https://en.wikipedia.org/wiki/Equisetum">{{sport}}</a>
      </li>
      <li>
        <p>{{sport}}</p>
        <a href="https://en.wikipedia.org/wiki/Lilium">{{sport}}</a>
      </li> -->
    <!-- </ul> -->


  </body>

</html>
